---
import Layout from "../../layouts/Layout.astro";
import { getFighterById } from "../../services/fighter";
import { type FighterAPI } from "../../types/fighter-api";

const { id } = Astro.params;

export const prerender = false;

let fighter;

if (id) {
  fighter = await getFighterById({ id });
}
---

<Layout title={fighter.name}>
  <h1>{fighter.name}</h1>
  {fighter.fighterFullPhoto ? (
    <img
      src={`http://localhost:5000/ufc/v1/uploads/img/${fighter.fighterFullPhoto}`}
      alt="Sin foto"
    />
  ) : (
    <img
      src="http://localhost:5000/ufc/v1/uploads/img/Default.png"
      alt="Sin foto"
    />
  )}
</Layout>
