---
import { getRecentEvent } from "../services/event";

import EventId from "./EventId.astro";

let event = await getRecentEvent();

function formatDate(dateString: Date) {
  const options: Intl.DateTimeFormatOptions = {
    weekday: "long",
    day: "numeric",
    month: "long",
    year: "numeric",
  };
  const date = new Date(dateString);
  return date.toLocaleDateString("es-ES", options);
}
---

<div>
  <EventId eventProp={event} mehtodProp={"Home"} />
</div>

<style>
</style>
