---

---

<div>
  <img src="/assets/adesanya-vd-strickland.jpg"/>
  <h3>
    Comapñia del evento
  </h3>
  <h1> </h1>
</div>

<style>
  img{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
</style>