---

---

<header>
  <!-- <div>
    <a href="/events">Eventos</a>
    <a href="/rankings">Rankings</a>
    <a href="/fighters">Peleadores</a>
  </div>
  <div>
    <a href="/">
      <img src="/assets/ufc_logo.png" />
    </a>
  </div>
  <div>Buscador</div>
</header> -->
  <header>
    <div class="container">
      <div class="content">
        <a href="/events">Eventos</a>
        <a href="/rankings">Rankings</a>
        <a href="/fighters">Peleadores</a>
      </div>
      <div>
        <a href="/">
          <img src="/assets/ufc_logo.png" />
        </a>
      </div>
      <div>Buscador</div>
    </div>
  </header>
</header>
<style>
  header {
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px
  }

  div {
    flex: 1;
  }

  a {
    position: relative;
    text-decoration: none;
    color: white;
  }

  a::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease-in-out;
  }

  a:hover::before {
    width: 100%;
  }

  img {
    height: 30px;
    width: auto;
  }
</style>
