---

---
<header>
  <ul class="container">
    <div class="linkContainer">
      <!-- <a href="/events">Eventos</a> -->
      <a href="/rankings">Rankings</a>
      <li>
        <a href="/fighters">Peleadores</a>
        <ul class="dropdown">
          <li><a href="/fighters/all"> Todos los peleadores</a></li>
        </ul>
      </li>
    </div>
    <div class="imgContainer">
      <a href="/">
        <img src="/assets/ufc_logo.png" />
      </a>
    </div>
    <div>
      <p>Buscador</p>
    </div>
  </ul>
</header>

<style>
  * {
    padding: 0;
    margin: 0;
  }
  div {
    flex: 1;
  }
  ul {
    list-style-type: none;
    display: flex;
    background: black;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  p {
    color: white;
  }
  ul li {
    display: inline-block;
    position: relative;
  }
  ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  ul li ul.dropdown li {
    display: block;
  }
  ul li ul.dropdown {
    background: black;
    position: absolute;
    z-index: 999;
    display: none;
  }

  ul li a:hover {
    background: gray;
  }
  ul li:hover ul.dropdown {
    display: block;
  }
  a {
    text-decoration: none;
    color: white;
    padding: 20px 25px;
  }
  img {
    height: 30px;
    width: auto;
  }
  .imgContainer {
    display: flex;
    justify-content: center;
  }
  .linkContainer{
    display: flex;
    justify-content: space-around;
  }
</style>
