---
const { idProp } = Astro.props;

const id = idProp;
---

<div class="container">
  <h1>MAS INFORMACIÓN SOBRE EL EVENTO</h1>
  <div>
    <div>
      <img/>
      <img/>
    </div>
  </div>
</div>
<style>
  .container {
    margin-top: 30vh;
    width: 100%;
    background-color: white;
  }
</style>